.Item{
    padding: 20px;
    margin: 20px;
    width: 220px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #282c34;
    text-align: center;
      
    }
  
  .Img{
      width: 150px;
      height: 200px;
  }
  
  .btn{
    background-color: crimson;
    color: white;
    font-size: 14px;
    border: crimson;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0px 0px 10px #282c34;
    margin: 5px;
  }
  
  .cart {
      /* text-align: center; */

      
      
    }
    
    .Products{
      display: flex;
      
      flex-wrap: wrap;
      
      /*grid-template-columns: auto auto auto;*/
      padding: 100px;
    }
    
    

    .cart-summary{
      display: inline-block;
      padding: 50px;
      
    }

    .cart-empty{
      display: flex;
      flex-direction: column;
        padding: 5%;
        margin: 150px;
        margin-left: 27%;
        width: 50%;
        /*height: 300px;*/
        border-radius: 10px;
        box-shadow: 0px 0px 15px #282c34;
        text-align: center;
        vertical-align: auto;
    }