.banner-container{
    /* background-image: url('https://www.desktopbackground.org/download/4096x2160/2010/04/17/3405_cool-simple-white-backgrounds-picture-gallery_5120x2880_h.jpg'); */
    width: 100%;
    padding: 60px;
    margin-top: -40px;
    /* text-align: center; */
    /* height: 100vh; */
    overflow: auto;
}
.landing-text{
    display: inline-block;
    
    padding:70px;
    
    
}
.landing-photo{
    display: inline-block;
    /* text-align: center; */
    padding:40px;
}

.offers-img{
    width: 250px;
    height: 300px;
    
}
@media only screen and (min-width: 768px) {
    .landing-text{
        display: inline-block;
        text-align: justify;
        padding:100px;
        
        
    }
    .offers-img{
        width: 600px;
        height: 400px;
    }}

.shop-btn{
    width: 120px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 14px;
  border: black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px #282c34;
}

.bottom-bar{
    width: 100%;
    background-color: #333;
    color: grey;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}

.links{
    display: inline-block;
    width:120px;
    height: 50px;
}

.foot-text{
    display: inline-block;
}