.nav-wrapper {
  width: 100%;
}

.container{
    display: inline;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    background-color: black;
    width: 100%;
    text-decoration: none;
    margin-top: -25px;
  }
  
  li {
    float: left;
    text-decoration: none;
  }

  .brand-logo{
      float: left;
  }

  Link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-decoration: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 10px 0px 15px;
    text-decoration: none; 
    margin-left: 40px;
  }
  
  li a:hover {
    color: salmon;
  }

  .logo{
    width:140px;
    height: 27px;
    display: inline-flexbox;
  }

  .cart-logo{
    width: 40px;
    height: 28px;
  }

  .nav-text{
    margin-top: 6px;
  }

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}